<div class="sheet sheet-border white-background">
    <div class="sheet-character-details1">
        <div class="sheet-cell white-background black-color dataGroup">
            <b>{{localize 'sf.details.name'}}:</b>
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <input type="text" name="name" value="{{actor.name}}" class="input-char-short inputdata">
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <b>{{localize 'sf.details.style'}}:</b>
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <input type="text" name="system.details.style" value="{{system.details.style}}" class="input-char-short inputdata">
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <b>{{localize 'sf.details.stable'}}:</b>
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <input type="text" name="system.details.stable" value="{{system.details.stable}}" class="input-char-short inputdata">
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <b>{{localize 'sf.details.school'}}:</b>
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <input type="text" name="system.details.school" value="{{system.details.school}}" class="input-char-short inputdata">
        </div>
    </div>

    <div class="sheet-character-details2">
        <div class="sheet-cell white-background black-color dataGroup">
            <b>{{localize 'sf.details.concept'}}:</b>
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <input type="text" name="system.details.concept" value="{{system.details.concept}}" class="input-char-long inputdata">
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <b>{{localize 'sf.details.signature'}}:</b>
        </div>
        <div class="sheet-cell white-background black-color dataGroup">
            <input type="text" name="system.details.signature" value="{{system.details.signature}}" class="input-char-long inputdata">
        </div>
    </div>
</div>