<div class="sheet sheet-border-open white-background scroller">
	<div class="sheet-character-attributeHeadings">
		<div class="pullLeft headlineGroup centerText black-color">{{localize 'sf.attributes.physical'}}</div>
		<div class="pullLeft headlineGroup centerText black-color">{{localize 'sf.attributes.social'}}</div>
		<div class="pullLeft headlineGroup centerText black-color">{{localize 'sf.attributes.mental'}}</div>
	</div>

    <div class="sheet-character-attributes">
        {{#each system.attributes as |attribute key|}}
            <div class="sheet-cell white-background black-color dataGroup"
                    data-name="system.attributes.{{key}}.label" data-value="{{attribute.label}}">
                <b>{{localize attribute.label}}</b>
            </div>
            <div class="sheet-cell white-background black-color dataGroup"
                    data-name="system.attributes.{{key}}.value" data-value="{{attribute.value}}">
                <input type="number" name="system.attributes.{{key}}.value" value="{{attribute.value}}" class="input-number inputdata">
            </div>
		{{/each}}
    </div>

    <nav class="tabs menuTabs" data-group="primary-tabs">
        <a class="sheet-icon item" data-tab="tab1" data-group="primary-tabs"><i class="fa-solid fa-book"></i></a>
        <a class="sheet-icon item" data-tab="tab2" data-group="primary-tabs"><i class="fa-solid fa-hand-fist"></i></a>
        <a class="sheet-icon item" data-tab="tab3" data-group="primary-tabs"><i class="fa-solid fa-bag-shopping"></i></a>
        <a class="sheet-icon item" data-tab="tab4" data-group="primary-tabs"><i class="fa-solid fa-person"></i></a>
        {{#if (not actor.limited)}}
            <a class="sheet-icon item" data-tab="tab5" data-group="primary-tabs"><i class="fa-solid fa-gear"></i></a>
        {{/if}}
    </nav>
    
    <div class="sheet-separator"></div>

    <section class="content">
        <div class="tab" data-tab="tab1" data-group="primary-tabs">
            {{> "systems/sf_vtt/templates/partials/character-sheet-skills.hbs" }}
        </div>
        <div class="tab" data-tab="tab2" data-group="primary-tabs">
            {{> "systems/sf_vtt/templates/partials/character-sheet-combat.hbs" }}
        </div>
        <div class="tab" data-tab="tab3" data-group="primary-tabs">
            {{> "systems/sf_vtt/templates/partials/character-sheet-items.hbs" }}
        </div>
        <div class="tab" data-tab="tab4" data-group="primary-tabs">
            {{> "systems/sf_vtt/templates/partials/character-sheet-background.hbs" }}
        </div>
        {{#if (not actor.limited)}}
            <div class="tab" data-tab="tab5" data-group="primary-tabs">
                {{> "systems/sf_vtt/templates/partials/character-sheet-settings.hbs" }}
            </div>
        {{/if}}
    </section>
</div>